footer {
    margin: 0 0;
    width: auto;
    background-color: #ddd;
    min-height: 120px;
    height: 15vh;
    text-align: center;
    padding: 10px;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > p {
    margin: 0 auto;
}