header {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

/* 헤더 컨텐츠 */
.logo {
    width: 200px;
    height: 80px;
    margin: 0 auto;
}

.logo > img {
    width: 100%;
    height: 100%;
}
