
section {
    max-width: 1130px;
    margin: 0 auto;
    padding: 20px 10px;
    width: auto;
    background-color: #fff;
    height: auto;
}

/* article 기본 크기 */
article {
    height: auto;
    margin: 20px 0 40px 0;
    width: 100%;
}


/* 더보기 버튼 */
.view_more {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}


/* 카테고리 클래스 */
.category {
    font-size: 40px;
    text-align: center;
}
