@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');
@import "header.css";
@import "nav.css";
@import "section.css";
@import "footer.css";

body {
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}


a {
  text-decoration: none;
  color: #222;
}
.empty {
  height: 50px;
}

.view_more:hover {
  border: 1px solid #673A71;
  transition : all 1s ease-in-out;
  cursor: pointer;
}

section {
  animation: fadeIn 0.3s linear forwards;
}


@keyframes fadeIn {
  from {
    transform : translateY(30px);
    opacity: 0.5;
  }
  to {
    transform : none;
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform : none;
    opacity: 1;
  }

}

