@import "../struct.css";

.naver_blogs {
    box-sizing: border-box;
}

.blogs {
    padding : 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_list {
    cursor: pointer;
    padding : 20px;
    display: flex;
    align-items: center;
    width : 80%;
    border-bottom: 1px solid #eee;
    height: 80px;
}

.blog_list:hover {
    transform: translateY(-5px);
    background-color : #eee;
    transition : transform 0.2s ease-in-out;
}

.blog_list:first-child {
    border-top: 1px solid #eee;
}

.blog-img {  /* 시술후기 블로그 썸네일 css */
}

.blog_info {
    width : 100%;
    display: flex;
    justify-content: space-between;
}

.blog-title {
    font-size : 20px;
}

.blog-discription {
    color : #19CE60;
    display: flex;
    align-items: center;
}

.blog-discription span {
    color : #bbb;
    font-size: 13px;
    padding-left : 30px;
}

.no_cursor {
    cursor : default;
}

@media all and (max-width: 500px){
    .blog-discription span {
        display: none;
    }
}